In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\rajen\\OneDrive\\Desktop\\data\\Churn_Modelling.csv")

In [3]:
df=df.drop(columns=["Surname","Geography","Gender"])

In [4]:
df

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,771,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,516,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,709,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,772,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,792,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df.columns

Index(['RowNumber', 'CustomerId', 'CreditScore', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [7]:
from sklearn.model_selection import train_test_split

In [13]:
x=df.drop(columns=["Exited"]).values
y=df[["Exited"]].values

In [14]:
x

array([[1.0000000e+00, 1.5634602e+07, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [2.0000000e+00, 1.5647311e+07, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [3.0000000e+00, 1.5619304e+07, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [9.9980000e+03, 1.5584532e+07, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [9.9990000e+03, 1.5682355e+07, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+04, 1.5628319e+07, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=32)

In [16]:
import tensorflow

In [17]:
from tensorflow.keras import layers,models

In [18]:
model=models.Sequential()

In [23]:
model.add(layers.Dense(32,activation="relu",input_shape=(x_train.shape[1],)))
model.add(layers.Dense(64,activation="relu"))
model.add(layers.Dense(124,activation="relu"))
model.add(layers.Dense(124,activation="relu"))

model.add(layers.Dense(124,activation="relu"))
model.add(layers.Dense(64,activation="relu"))

model.add(layers.Dense(1,activation="sigmoid"))

In [28]:
model.compile(optimizer="adam",loss="mse",metrics=["accuracy"])

In [29]:
model.fit(x_train,y_train,epochs=10,batch_size=10,verbose=1,validation_split=0.2)

Epoch 1/10
640/640 [==============================] - 4s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1716 - val_accuracy: 0.7806
Epoch 2/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1716 - val_accuracy: 0.7806
Epoch 3/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 4/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 5/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 6/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 7/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 8/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 9/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806
Epoch 10/10
640/640 [==============================] - 3s 5ms/step - loss: 0.1590 - accuracy: 0.8017 - val_loss: 0.1717 - val_accuracy: 0.7806

In [30]:
model.evaluate(x_test,y_test)

63/63 [==============================] - 1s 3ms/step - loss: 0.1651 - accuracy: 0.7915

[0.16512291133403778, 0.7914999723434448]