In [12]:
import numpy as np

In [13]:
import pandas as pd

In [14]:
import tensorflow as tf

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [17]:
df=pd.read_csv("C:\\Users\\rajen\\OneDrive\\Desktop\\data\\Churn_Modelling.csv")

In [18]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [20]:
x = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

In [23]:
le = LabelEncoder()
x[:, 1] = le.fit_transform(x[:, 1])  # Geography
x[:, 2] = le.fit_transform(x[:, 2])  # Gender

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [29]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [34]:
# model=tf.keras.Sequential([
#     tf.keras.layers.Dense(64,activation="relu",input_dim=x_train.shape[1]),
#     tf.keras.layers.Dense(64,activation="relu"),
#     tf.keras.layers.Dense(1,activation="Sigmoid")
# ])
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_dim=X_train.shape[1]),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [35]:
learning_rate=0.01
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate=learning_rate,momentum=momentum)

In [36]:
logg_func=tf.keras.losses.BinaryCrossentropy()
metrics=["accuracy"]

In [39]:
model.compile(optimizer=optimizer,loss=logg_func,metrics=metrics)

In [40]:
epoch=10
batch_size=32
model.fit(x_train,y_train,batch_size=batch_size,epochs=epoch,validation_split=0.2)

Epoch 1/10
200/200 [==============================] - 3s 9ms/step - loss: 0.4599 - accuracy: 0.8020 - val_loss: 0.4128 - val_accuracy: 0.8313
Epoch 2/10
200/200 [==============================] - 1s 5ms/step - loss: 0.4068 - accuracy: 0.8334 - val_loss: 0.3834 - val_accuracy: 0.8462
Epoch 3/10
200/200 [==============================] - 1s 6ms/step - loss: 0.3748 - accuracy: 0.8492 - val_loss: 0.3682 - val_accuracy: 0.8444
Epoch 4/10
200/200 [==============================] - 1s 6ms/step - loss: 0.3579 - accuracy: 0.8552 - val_loss: 0.3526 - val_accuracy: 0.8569
Epoch 5/10
200/200 [==============================] - 1s 7ms/step - loss: 0.3498 - accuracy: 0.8553 - val_loss: 0.3571 - val_accuracy: 0.8450
Epoch 6/10
200/200 [==============================] - 1s 7ms/step - loss: 0.3456 - accuracy: 0.8584 - val_loss: 0.3474 - val_accuracy: 0.8475
Epoch 7/10
200/200 [==============================] - 1s 5ms/step - loss: 0.3433 - accuracy: 0.8584 - val_loss: 0.3455 - val_accuracy: 0.8531
Epoch 8/10
200/200 [==============================] - 1s 5ms/step - loss: 0.3387 - accuracy: 0.8605 - val_loss: 0.3446 - val_accuracy: 0.8531
Epoch 9/10
200/200 [==============================] - 1s 5ms/step - loss: 0.3371 - accuracy: 0.8600 - val_loss: 0.3422 - val_accuracy: 0.8525
Epoch 10/10
200/200 [==============================] - 1s 5ms/step - loss: 0.3318 - accuracy: 0.8628 - val_loss: 0.3439 - val_accuracy: 0.8506

In [41]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print("Test Loss:", test_loss)
print("Test Accuracy:", test_acc)

63/63 [==============================] - 1s 4ms/step - loss: 0.3538 - accuracy: 0.8555
Test Loss: 0.3537880778312683
Test Accuracy: 0.8554999828338623